@model ShoppingList.Models.Purchase

<div class="text-center">
    <h1 class="display-4">This is your shopping list</h1>
    <h3>Ты сделал покупку в @Model.Time.Hour часов и купил @Model.ProductList.First().Name по цене @Model.ProductList.First().Price рублей</h3>
</div>
